html {
  height: 100%;
  width: 100%;
}
body {
  background-color: tan;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 60px;
}

h1 {
  margin: 0;

  }

  img {
    border-radius: 363.5px;
  }